/* Ionic Variables and Theming. For more info, please see:
  http://ionicframework.com/docs/theming/ */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--ion-background-color: var(--surface);
	--ion-text-color: var(--on);
	--ion-tab-bar-background: var(--surface);
	--ion-tab-bar-color-selected: var(--on);
	--ion-tab-bar-color: var(--on-alt);
	--ion-safe-area-top: 0px;
	--ion-default-font: 'Gantari Variable';
	--ion-font-family: 'Gantari Variable';
	--ion-padding:20px;
}

.ios {
	--ion-safe-area-top: 28px;
	--ion-safe-area-bottom: 16px;
}

body.barcode-scanner-active {
	visibility: hidden;
	--background: transparent;
	--ion-background-color: transparent;
	--surface: transparent;
}

.barcode-scanner-modal {
	visibility: visible;
}

@media (prefers-color-scheme: dark) {
	.barcode-scanner-modal {
		--background: transparent;
		--ion-background-color: transparent;
	}
}

.outline {
	outline-style: none;
}
